<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <!-- Home menu -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[appMenus[0].url]" lines="none" detail="false"
                      routerLinkActive="selected">
              <ion-icon slot="start" [ios]="appMenus[0].icon + '-outline'" [md]="appMenus[0].icon + '-sharp'"></ion-icon>
              <ion-label>{{ appMenus[0].title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div class="menus-group" *ngFor="let appMenus of appGroupedMenus">
            <ion-item-divider>
              <ion-label>{{appMenus.name}}</ion-label>
            </ion-item-divider>
            <ion-item-group>
              <ion-menu-toggle auto-hide="false" *ngFor="let menu of appMenus.menus; let i = index">
                <ion-item routerDirection="root" [routerLink]="[menu.url]" lines="none" detail="false"
                          routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="menu.icon + '-outline'" [md]="menu.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ menu.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-item-group>
          </div>

          <!-- Settings menus -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[appMenus[1].url]" lines="none" detail="false"
                      routerLinkActive="selected">
              <ion-icon slot="start" [ios]="appMenus[1].icon + '-outline'" [md]="appMenus[1].icon + '-sharp'"></ion-icon>
              <ion-label>{{ appMenus[1].title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
